*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font imports - Segoe UI for Windows 7 Aero compatibility */
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), local("Arial"), local("Helvetica");
  font-weight: 400;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Light"), local("Arial Light"), local("Helvetica Light");
  font-weight: 300;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Bold"), local("Arial Bold"), local("Helvetica Bold");
  font-weight: 600;
}

/* To fix default cursor on background */
#background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
}

body {
  background: var(--bg-overlay), var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--color-primary-dark);
  font-family: Helvetica, Arial, "Segoe UI", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Helvetica, Arial, "Segoe UI", sans-serif;
}

h1,
h2,
h3 {
  font-style: normal;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
}

h1 {
  display: flex;
  align-items: center;
  font-size: 2.3em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

p {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  max-width: 700px;
  font-size: 1.06em;
  margin-top: 10px;
}

span {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
}

a,
button {
  cursor: pointer;
}

a {
  color: rgba(255, 255, 255, 0.9);
  transition-duration: 0.2s;
  font-family: Helvetica, Arial, "Segoe UI", sans-serif;
  font-weight: 700;
}
a:hover {
  color: rgba(223, 223, 223, 0.9);
  text-decoration: none;
  transition-duration: 0.2s;
}

button {
  border: none;
}

/* Bold Text */
.bold {
  font-family: "Noto Sans Semi Bold", Arial, Helvetica, sans-serif;
}

/* Class to align items */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Float Directions */
.float-left {
  float: left;
}
.float-right {
  float: right;
}

/* Class to remove default underlines */
.buttons-no-underline a {
  text-decoration: none;
}
.buttons-no-underline a:hover {
  text-decoration: none;
}

/* Margin top for sections */
.margin-top {
  margin-top: 15px;
}

/* Full width for text */
.p-full-width p {
  max-width: 100%;
}

/* Gradient for some headers and buttons */
.gradient-headers-buttons {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0.1) 49%,
      rgba(255, 255, 255, 0) 50%
    ),
    linear-gradient(
      180deg,
      rgba(111, 118, 122, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(62, 65, 67, 0.7) 100%
    );
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3),
    inset 0px 2px 1px rgba(255, 255, 255, 0.3),
    inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}
/* Hover effect */
.gradient-headers-buttons-hover button {
  border-radius: 9px;
  position: absolute;
  z-index: 1;
  transition-duration: 0.3;
}
.gradient-headers-buttons-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      180deg,
      rgba(127, 140, 124, 0.1) 30%,
      rgba(145, 152, 141, 0.2) 100%
    ),
    linear-gradient(
      180deg,
      rgba(111, 118, 122, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(62, 65, 67, 0.2) 100%
    );
  border-radius: 9px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  z-index: 1;
}
.gradient-headers-buttons-hover:hover::before {
  opacity: 1;
}

/* Default container style for headers, bars, etc. */
.containers-style {
  background: linear-gradient(
    180deg,
    rgba(200, 220, 255, 0.7) 0%,
    rgba(135, 180, 250, 0.7) 50%,
    rgba(100, 160, 240, 0.7) 50%,
    rgba(120, 170, 245, 0.7) 100%
  );
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2),
    inset 0px 10px 10px rgba(255, 255, 255, 0.3),
    inset 0px -2px 1px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  padding: 16px;
}

/* Secondary container style for main content, divs, etc. */
.containers-style-content {
  background: linear-gradient(
    180deg,
    rgba(190, 215, 255, 0.7) 0%,
    rgba(135, 180, 250, 0.7) 50%,
    rgba(100, 160, 240, 0.7) 100%
  );
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2),
    inset 0px 2px 1px rgba(255, 255, 255, 0.3),
    inset 0px -2px 1px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  padding: 16px;
}

/* Website Spacers */
.website-spacer-top {
  height: 20px;
}
.website-spacer-bottom {
  height: 40px;
}

/* Center align the main site container */
#siteContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 1200px;
  padding: 0 20px;
}

/* Vertical line separators between links/buttons */
.vertical-separators {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.24) 35.94%,
    rgba(255, 255, 255, 0.36) 100%
  );
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.4);
  width: 2px;
  min-height: 100%;
  opacity: 0.9;
}

/* Common styles for both active and inactive button links */
.button-links-active,
.button-links-inactive {
  flex-direction: row;
  gap: 7px;
  height: 100%;
  font-size: 1.2em;
  font-weight: 250;
  cursor: pointer;
}

/* Active button link styles with gradient background */
.button-links-active {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 49%,
      rgba(255, 255, 255, 0) 50%
    ),
    linear-gradient(
      180deg,
      rgba(74, 168, 135, 0) 20%,
      rgba(59, 224, 145, 0.4) 100%
    );
}
.button-links-active:hover {
  text-decoration: none !important;
}
.button-links-active span {
  color: #5fd196 !important;
  font-weight: 500;
}

/* Inactive button link styles with gradient background */
.button-links-inactive {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(180, 188, 190, 0.4) 0%,
    rgba(107, 115, 119, 0.4) 50%,
    rgba(61, 65, 67, 0.014) 50.1%
  );
  transition: all 0.2s ease-in;
  overflow: hidden;
}
/* Hover effect */
.button-links-inactive::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(127, 140, 124, 0) 30%,
    rgba(216, 223, 212, 0.4) 100%
  );
  opacity: 0;
  transition: opacity 0.2s ease-in;
  z-index: 1;
}
.button-links-inactive:hover::before {
  opacity: 1;
}

/* Button Text style */
.button-links-inactive span {
  color: rgba(255, 255, 255, 0.9);
}
.button-links-inactive:hover span {
  text-decoration: none;
}

/* Styling for main navigation bar */
#mainNav {
  height: 48px;
  padding: 0;
  border-radius: 13px;
  margin: auto;
  z-index: 10;
}
#mainNav img {
  height: 20px;
}
#mainNav span {
  color: rgba(255, 255, 255, 0.85);
}

/* Flex layout for desktop navigation bar */
.main-nav-mobile-divs {
  display: flex;
}

/* Padding and font size for navigation links */
.main-nav-links {
  height: 48px;
  padding: 8px 15px;
  font-size: 1.3em;
  font-family: Helvetica, Arial, "Segoe UI", sans-serif;
  font-weight: 700;
}

/* Set margin for main content section */
#mainContent {
  margin: 20px auto;
}

/* Link when you click Aqua on home page or 404 page */
.aqua-android-link {
  transition-duration: 0.3s;
}
.aqua-android-link:hover {
  scale: 1.04;
  transition-duration: 0.3s;
  filter: brightness(85%);
}

/* Border Radius for elements with this class */
.border-radius-top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}
.border-radius-bottom {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

/* Hidden music bar by default */
#musicBar {
  display: none;
  position: fixed;
  width: 627.5px;
  height: 48px;
  left: calc(50% - 627.5px / 2 - 0.25px);
  bottom: 0;
  backdrop-filter: blur(4px);
  border-radius: 8px 8px 0 0;
  padding: 0 1px 0 0;
  z-index: 3;
  overflow: hidden;
}

/* Toggle button for music bar */
#musicToggle {
  width: 70px;
  padding: 0 15px;
}

/* Styling for text in the music bar */
.music-text-div {
  margin: auto;
  text-align: center;
  text-wrap: nowrap;
  overflow-x: hidden;
}
.music-text-div span {
  display: inline-block;
  font-weight: 300;
  font-size: 1.2em;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  margin-left: 8px;
  text-wrap: nowrap;
}

/* Inner text in the music bar */
.music-inner-text {
  display: inline-block;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

/* Scrolling animation for music text */
.scrolling {
  animation: scroll 7s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Spotlight Image Viewer */
.spl-header {
  background: none;
}
.spl-footer {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

/* Responsiveness */
@media (max-width: 950px) {
  .main-nav-links-inactive,
  .main-nav-links-active {
    font-size: 1em;
  }
  .main-nav-links {
    font-size: 1.1em;
  }
}

@media (max-width: 750px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  #siteContainer {
    position: static;
    width: auto;
  }
  #mainNav {
    border-radius: 0;
    position: sticky;
    top: 0;
    flex-direction: column;
    margin: -20px -20px 0 -20px;
    height: 90px;
  }
  .nav-side-vertical-separators {
    display: none;
  }
  .main-nav-mobile-divs {
    width: 100%;
  }
  .main-nav-links {
    padding: 8px 0;
    width: 100%;
    height: 45px;
  }
  .main-nav-home {
    width: auto;
    padding: 11px 15px;
  }
  .home-nav-text {
    display: none;
  }
  .main-nav-images {
    display: none;
  }
  #musicBar {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 300px) {
  .main-nav-links {
    font-size: 1em;
  }
}

/* Adjust site container width */
@media (min-width: 750px) {
  #siteContainer {
    width: 750px;
  }
}

@media (min-width: 850px) {
  #siteContainer {
    width: 800px;
  }
}

@media (min-width: 950px) {
  #siteContainer {
    width: 900px;
  }
}

@media (min-width: 1050px) {
  #siteContainer {
    width: 1000px;
  }
}

@media (min-width: 1150px) {
  #siteContainer {
    width: 1100px;
  }
}

@media (min-width: 1250px) {
  #siteContainer {
    width: 1200px;
  }
}

/* Background Cursor */
@media (min-width: 0px) {
  #background {
    pointer-events: none;
  }
}
@media (min-width: 641px) {
  #background {
    pointer-events: all;
  }
}
