/* MASTER CSS FILE - Imports all stylesheets */
/* This is the only CSS file that needs to be linked on each page */

/* Core & Foundation */
@import url("root.css");
@import url("frutiger-global.css");
@import url("layout.css");

/* Components & UI (consolidated) */
@import url("components.css");

/* Forms & Inputs */
@import url("forms.css");

/* Animations & Effects */
@import url("animations.css");
@import url("floating-fish.css");

/* Page Styles (consolidated) */
@import url("pages.css");
