<nav id="mainSettingsBar" class="settings-bar">
    <div class="settings-bar-divs nav-bar">
        <img src="Assets/Icons/style-glossy-blue/on-off.png" alt="Portfolio" class="nav-icon" data-nav-icon><span class="settings-titles">Portfolio</span>
        <div class="settings-buttons nav-menu">
            <a href="#about" class="nav-link" data-nav-link>About</a>
            <span class="settings-side-vertical-separators">|</span>
            <a href="#projects" class="nav-link" data-nav-link>Projects</a>
            <span class="settings-side-vertical-separators">|</span>
            <a href="#work" class="nav-link" data-nav-link>Work</a>
            <span class="settings-side-vertical-separators">|</span>
            <a href="#education" class="nav-link" data-nav-link>Education</a>
            <span class="settings-side-vertical-separators">|</span>
            <a href="pages/gallery.html" class="nav-link" data-nav-link data-nav-gallery>Gallery</a>
            <span class="settings-side-vertical-separators">|</span>
            <a href="#contact" class="nav-link" data-nav-link>Connect</a>
        </div>
    </div>
</nav>
